{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% block header_reference %}{% endblock %}
</head>
<body>

    	<header id="main-navigation">
            <h1><a href="">mohsen blog</a></h1>
            <nav>
                <a href="">all post</a>
            </nav>
        </header>
{% block content %}
{% endblock %}
{% block footer_reference %}{% endblock %}
</body>
</html>